@import "tailwindcss";
@import "tailwindcss-primeui";

:root {
  color: #172033;
  background: #f5f7fb;
  font-family: Inter, "Noto Sans Thai", "Segoe UI", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  background: #f5f7fb;
}

button,
input {
  font: inherit;
}
